div {
    margin: 20px;
}

a {
    padding: 5px;
}

button, #avatar::file-selector-button {
    margin-top: 10px;
    border-radius: 15px;
    background-color: darkorange;
    padding: 5px 10px;
    font-weight:bold
}

button:hover, #avatar::file-selector-button:hover {
    cursor: pointer;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}